.buttonplans{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .375rem .75rem;
    border: 1px solid #37517e;;
    border-radius: .25rem;
    color: #37517e;
    transition: color .15s ease-in-out,
     
}

.buttonplans:hover, .btn-borde:active, .btn-borde:focus {
    color: #fff;
    background-color:#37517e;
  }